.Display{
    background-color:#222838;
    min-height: 85vh;
    display: flex;
}
.Display>div{
    border: 2px solid rgb(19, 23, 34);
}
.Display__left{
    flex: 0.6;
}
.Display__right{
    /* background-color:#222838; */
    min-width: 250px;
    flex:0.4;
}
@media screen and (max-width: 1200px) {
    .Display {
      flex-direction: column;
    }
  }