.modal-90w{
    width: 80%!important;
    max-width: none!important;
}
.modal-content{
    background-color: #222838 !important;
    color: rgb(209, 212, 220);
}
.modal__summary{
    display: flex;
    justify-content:space-between;
}
.modal__chart{
    text-align: center;
}
.modal__nTrades{
    text-align: left;
}
.modal__nTrades p{
    margin-bottom: 10px; 
}
.modal-body{
    padding: 2rem !important;
}
.modal__content hr{
    margin-top: 0;
    border-top: 1px solid rgb(209, 212, 220);
}
.Statinfo{
    display: flex;
}
.Statinfo__stat{
    flex: 0.4;
}
.Statinfo__dist{
    flex: 0.6;
}