.table-dark{
    background-color: #1d2334 !important;
}
.Tradetable{
    margin: 15px;
}
.Tradetable__page{
    text-align: center;
}
.Tradetable__sort{
    width:24px;
}
.Tradetable__header{
    display: flex;
    align-items: center
}
.Tradetable__row{
    cursor: pointer;
}